[submodule "langgraph-platform-webapp"]
	path = langgraph-platform-webapp
	url = https://github.com/teddynote-lab/langgraph-platform-webapp
[submodule "langgraph-platform-streamlit-usecase"]
	path = langgraph-platform-streamlit-usecase
	url = https://github.com/teddynote-lab/langgraph-platform-streamlit-usecase
[submodule "dify-embedding-usecase"]
	path = dify-embedding-usecase
	url = https://github.com/teddynote-lab/dify-embedding-usecase
[submodule "dify-streamlit-usecase"]
	path = dify-streamlit-usecase
	url = https://github.com/teddynote-lab/dify-streamlit-usecase
